<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7157aa54-f8cf-4424-9544-a87ea27f375b/resourcegroups/EnsolversChallenge20250501051731ResourceGroup/providers/Microsoft.Web/sites/EnsolversChallenge20250501051731</ResourceId>
    <ResourceGroup>EnsolversChallenge20250501051731ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7157aa54-f8cf-4424-9544-a87ea27f375b/resourceGroups/EnsolversChallenge20250501051731ResourceGroup/providers/Microsoft.ApiManagement/service/EnsolversChallengeapi/apis/EnsolversChallenge</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ensolverschallenge20250501051731-evhvhrczb9cthkds.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>62a4e8a5-bb1d-4ab7-a827-60fe3ea67e0b</ProjectGuid>
    <MSDeployServiceURL>ensolverschallenge20250501051731-evhvhrczb9cthkds.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EnsolversChallenge20250501051731</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>